*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: "dragon hunter";
}
html,body{
height: 100%;
width: 100%;
}
#main{
   height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
   

}
#page1{
   min-height: 100vh;
   width: 100%;
   background-color: rgb(116, 31, 31);
 padding-top: 30vh;
 text-align: center;
 /* padding-bottom: 18.5vh; */
 position: relative;
 top: 0%;
 z-index: 1;
 
}
#page1 h1{
    color: rgb(238, 218, 218);
    font-size: 6vw;
    letter-spacing: 0.5vw;
    
}
#page1 button{
    background-color: gainsboro;
    padding: 1vh 3vw;
    font-size: 1.7vw;
    margin-top: 12vw;
    border: none;
    border-radius: 2vh;
}
button:active{
    scale: 0.95;
}
#page1 button:hover{
    background-color: #F5E8C7;
    color: #363062;
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(116, 31, 31);
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 10vh;
     position: relative;
     top: 0%;
     z-index: 9;
    
   

}
#page2 h1{
 font-size: 5vw;
 padding-top: 20vh;
 letter-spacing: 1vh;
 
 
}
#options{
    
   height: 42vh;
    position: absolute;
    
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2vw;
    

}
.character{
    /* border: 2px dashed yellow; */
    height: 100%;
    width: 15vw;
    padding-bottom: 2vh;
    border-radius: 20px;

}
.character img{
    height: 90%;
  width: 100%;
  object-fit: contain;
  margin-bottom: 1vh;
}
.character h6{
    color: rgb(235, 158, 158);
    font-size: 1.8vw;
    padding-top: 0.8vh;
}
.character:hover h6{
   
   color: rgb(179, 14, 14);
}
.character:hover{
    background-color: rgba(206, 200, 200, 0.486);
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(116, 31, 31);
    position: relative;
    top: 0%;
    z-index: 9;
}
#navpg3{
    height: 7vw;
    width: 100%;
    background-color: rgb(116, 31, 31);
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    border-bottom: 2px solid white;
}
#imgdiv{
    height: 100%;
    width: 10%;
  
    margin-left: 2vh;
    padding: 0.5vh;
    position: absolute;
    left: 2%;
}
#navpg3 img{
  height: 100%;
  width: 100%;
  margin-left: 2%;
  object-fit: contain;
}
#navpg3 h1{
    letter-spacing: 2px;
    color: white;
}
#playground{
    height: 90vh;
    width: 100%;
    background-color: rgb(26, 228, 26);
    position: relative;

}